<div class="py-3">
  <h5 class="text-lg font-bold px-2 mb-3">Group Expenses Summary</h5>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
    <!-- Left Column: Summary per Member -->
    <div class="w-full max-w-xl min-w-[300px]">
      <div class="bg-white shadow border border-slate-200 rounded-lg p-3 my-4">
        <h6 class="font-bold p-2 mb-2">Summary per Member</h6>
        <div role="button" *ngFor="let summary of memberSummaries"
          class="text-slate-800  w-full rounded-md p-3 transition-all hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100">
          
          <div>
            <div class="flex justify-between w-full">
              <h6 class="text-slate-800 font-medium">
                <span class="font-bold">{{ summary.name }}</span>
              </h6>
              <span class="font-bold">{{ summary.total | number:'1.2-2' }}</span>
            </div>
            
            <div *ngIf="summary.details.length" class="text-slate-600 mt-2 text-sm">
              <div *ngFor="let detail of summary.details">
                <span>{{ detail.expenseName }}: </span>
                <span>{{ detail.contribution | number:'1.2-2' }}</span>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
    <!-- Right Column: Detailed Expenses List -->
    <div class="w-full max-w-xl min-w-[300px]">
      <div class="bg-white shadow border border-slate-200 rounded-lg p-3 my-5">
        <h6 class="font-bold p-2 mb-2">Expenses Details</h6>
        <div *ngFor="let expense of expenses; let i = index" class="py-2">
          <div class="flex justify-between">
            <span class="font-medium">{{ expense.expenseName }}</span>
            <span class="font-bold">{{ expense.amount | number:'1.2-2' }}</span>
          </div>
          <div class="text-slate-600 mt-2 text-sm">
            <div>Paid by: {{ expense.paidBy }}</div>
            <div>Split between: {{ expense.splitBetween.join(', ') }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Navigation Buttons -->
  <div class="py-3">
    <div class="w-full max-w-xl min-w-[300px] flex justify-between">
      <button [routerLink]="['/expenses']" class="bg-neutral-100 hover:bg-neutral-200 text-neutral-900 py-1 px-4 rounded-lg">
        Back
      </button>
      <button class="rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white">
        Share Summary
      </button>
    </div>
  </div>
</div>
