<div class="py-3">
  <!-- <h3 class="text-lg font-bold mb-3">Group Setup</h3> -->
  <h5 class="text-base font-bold mb-3">{{'who_involved' | translate | async}}</h5>
  <p class="mb-3">{{'enter_group_name' | translate | async}}</p>

  <div class="py-2">
    <div class="w-full max-w-xl min-w-[300px]">
      <form [formGroup]="membersForm" (ngSubmit)="addmember()">
        <div class="relative">
          <input type="text" ngClass="{'border-red-500': memberName.invalid && memberName.touched}"
            class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md pl-3 pr-16 py-3 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
            placeholder="{{'add_member' | translate | async}}" formControlName="memberName" />
          <button [disabled]="membersForm.invalid"
            class="absolute right-1 top-1 rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="submit">
            {{'add' | translate | async}}
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="py-3">
    <div *ngIf="groupMembers.length > 0" 
      class="relative flex  flex-col w-full max-w-xl min-w-[300px] rounded-lg border border-slate-200 bg-white shadow-sm">
      <nav class="flex  flex-col gap-1 p-1.5">
        <div role="button" *ngFor="let member of groupMembers; let i = index"
          class="text-slate-800 flex w-full items-center rounded-md p-3 transition-all hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100">
          <div class="mr-4 grid place-items-center">
            <span class="avatar bg-slate-700 p-1 text-white relative !rounded-full">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <circle cx="12" cy="6" r="4" fill="currentColor" />
                <path fill="currentColor"
                  d="M20 17.5c0 2.485 0 4.5-8 4.5s-8-2.015-8-4.5S7.582 13 12 13s8 2.015 8 4.5" />
              </svg>
            </span>
          </div>
          <div>
            <h6 class="text-slate-800 font-medium">
              {{ member }}
            </h6>
          </div>
          <span (click)="removeMember(member)"
            class="block text-sm text-neutral-400 hover:text-red-600 justify-self-end ml-auto px-2 remove-member-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z" />
            </svg>
          </span>
        </div>
      </nav>
    </div>

  </div>

  <div class="py-3">
    <div class="w-full max-w-xl min-w-[300px]">
      <div class="flex justify-between">
        <button [routerLink]="['/start']"
          class="bg-neutral-100 hover:bg-neutral-200 text-neutral-900 py-1 px-4 rounded-lg d-bloc"> {{'back' | translate | async}}</button>
        <button [routerLink]="['/expenses']" [disabled]="groupMembers.length === 0"
          class="rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"> {{'continue' | translate | async}}</button>
      </div>
    </div>
  </div>
</div>