.image-container {
    img {
        width: auto;
        display: block;
        max-height: 300px;
        display: block;
        margin: 0 auto;
        // object-fit: cover;
        // object-position: center;

        @media (max-width: 768px) {
            width: 90%;
            max-height: 500px;
        }
    }
}