<div class="p-2">
  <div class="image-container w-100 py-4 my-4 md:my-3">
    <img src="assets/images/3.png" class="rounded-md" alt="" />
  </div>
  <div class="my-3">
    <h1 class="font-bold text-4xl text-center mb-3 leading-20">
      <span class="text-primary">Dong </span> Group Expense Sharing App
    </h1>
    <div class="flex justify-center align-center px-1 lg:p-4 py-5 mt-2">
      <p-button
        [routerLink]="['/group']"
        label="{{ 'new_group' | translate | async }}"
        [rounded]="true"
        styleClass=" w-full lg:w-1/2 block mx-auto"
        class="w-full lg:w-1/2 block mx-auto"
     
      />
    </div>
  </div>
</div>
