<div class="py-3  min-h-screen">
    <div class=" justify-center  py-3 w-full  h-full">
        <div class="grid grid-cols-3 gap-3 items-start">
            <div class="border rounded-lg col-span-3 md:col-span-1 order-last md:order-first">
                <div class="p-3 lg:px-4 lg:py-5 bg-primary rounded-t-lg">
                    <h5 class="font-bold text-xl text-primary-contrast">{{groupName}}</h5>
                    <span class="text-sm text-primary-contrast">{{groupMembers.length}} {{'members' | translate | async
                        }}</span>

                </div>
                <div class="p-4">
                    <div class="flex items-center justify-between  mb-2">
                        <h6 class="text-sm font-semibold">{{'members' | translate | async }}<span
                                class="">({{groupMembers.length}})</span></h6>
                        <a href="/group-member"
                            class="text-xs decoration-0 border-b border-transparent text-primary hover:border-b-current ">
                            {{'add_member' | translate | async }}</a>
                    </div>
                    <nav class="flex flex-col  overflow-y-auto mt-2" *ngIf="groupMembers.length > 0">
                        <div role="button" *ngFor="let member of groupMembers; let i = index"
                            class="flex w-full items-center px-0 py-2 transition-all border-b border-neutral-200 member-item">
                            <div class="me-3 grid place-items-center">
                                <span class="avatar bg-primary text-primary-contrast p-2 relative rounded-full">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                                        <circle cx="12" cy="6" r="4" fill="currentColor" />
                                        <path fill="currentColor"
                                            d="M20 17.5c0 2.485 0 4.5-8 4.5s-8-2.015-8-4.5S7.582 13 12 13s8 2.015 8 4.5" />
                                    </svg>
                                </span>
                            </div>
                            <div>
                                <h6 class="font-sm m-0 ">
                                    {{ member }}
                                </h6>
                            </div>

                        </div>
                    </nav>

                </div>
            </div>
            <div class="border rounded-lg col-span-3  md:col-span-2 p-3 lg:p-4 shadow-sm">
                <div class="flex items-center justify-between px-1 py-2 mb-1 md:mb-3">
                    <h1 class="text-lg lg:text-xl m-0 font-bold"> {{ 'expenses_list' | translate | async }}</h1>
                    <button routerLink="/expenses"
                        class=" rounded-full bg-primary text-primary-contrast flex px-3 py-1 justify-center items-center gap-2 text-center text-base transition-all active:shadow-none cursor-pointer">
                        <span class="text-sm">{{'add_expense' | translate | async }}</span>

                    </button>
                </div>
                <div class="min-h-[275px]">
                    <div class=" relative" *ngIf="expenses.length > 0">
                        <div class="  rounded-lg mt-3 min-h-[210px]">

                            <div class="p-1 py-2 lg:py-3 flex items-center gap-3 border-b expense-item "
                                *ngFor="let expense of expenses; index as item">
                                <span
                                    class="icon bg-primary-100  rounded-full w-12 h-12 text-primary dark:bg-primary-contrast p-2 flex justify-center items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32">
                                        <path fill="currentColor"
                                            d="M19.668 4.108a.5.5 0 0 0-.705.08L14.36 10h-2.551l5.587-7.054a2.5 2.5 0 0 1 3.522-.4l5.147 4.123a2.5 2.5 0 0 1 .522 3.33h-2.614l.907-1.052a.5.5 0 0 0-.066-.717L22.31 6.224L19.342 10h-2.544l3.95-5.026zM6 7a3 3 0 0 0-3 3v14.5A4.5 4.5 0 0 0 7.5 29h17a4.5 4.5 0 0 0 4.5-4.5v-9a4.5 4.5 0 0 0-4.5-4.5H6a1 1 0 1 1 0-2h4.58l1.596-2zm15 12h3a1 1 0 1 1 0 2h-3a1 1 0 1 1 0-2" />
                                    </svg>
                                </span>
                                <div class="">
                                    <p class="m-0 font-bold text-base">{{ expense.expenseName }}</p>

                                    <span class="text-muted text-xs hidden md:block">{{'split_between' | translate | async }} {{
                                        expense.splitBetween.join(' , ') }}</span>
                                </div>
                                <div class="flex justify-self-end ms-auto">
                                    <div class="text-end ">
                                        <p class="m-0 font-bold  text-base">$ {{ expense.amount }}</p>
                                        <span class="text-muted text-xs hidden md:block">{{'paid_by' | translate | async }} {{
                                            expense.paidBy
                                            }}</span>
                                    </div>
                                    <button type="button" class="text-muted-color text-sm p-0 ms-2"
                                        (click)="toggle($event, item)">
                                        <i class="pi pi-ellipsis-v"></i>

                                    </button>
                                </div>
                            </div>
                            <p-popover #op>
                                <div class="">
                                    <div>

                                        <ul class="list-none p-0 m-0 flex flex-col">
                                            <li class=" cursor-pointer hover:text-red-600"
                                                (click)="removeExpense(); op.hide()">
                                                <span class="text-xs"><i class="pi pi-trash"></i> {{'remove' |
                                                    translate | async }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </p-popover>

                        </div>
                        <div class="flex justify-between gap-2 mt-3 pt-3 border-t">

                            <button type="button" [routerLink]="['/new-group']"
                                class="bg-emphasis  rounded-full w-full lg:w-1/4 text-sm py-2 px-3 flex items-center justify-center">
                                {{ 'back_to_group_setup' | translate | async }}
                            </button>
                            <button [routerLink]="['/summary']"
                                class="bg-primary text-primary-contrast rounded-full w-full lg:w-1/4 text-sm  py-2 px-4 flex items-center justify-center">
                                {{ 'view_summary' | translate | async }}
                            </button>
                        </div>


                    </div>
                    <div class="h-full " *ngIf="!expenses.length">
                        <div class="flex flex-col items-center justify-center gap-2 min-h-[250px] py-4">

                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"
                                class="text-neutral-400 mb-2">
                                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="1.5" color="currentColor">
                                    <path
                                        d="M6.79 6.833C5.18 6.553 3.881 6.26 3 6v9.061c0 1.995 0 2.992.62 3.805s1.47 1.043 3.17 1.503c2.746.742 5.634 1.184 8.22 1.437c2.682.262 4.022.393 5.006-.506q.297-.271.484-.619M11 7.5c1.254.145 2.597.205 4.004.303c2.921.202 4.382.304 5.189 1.174S21 11.25 21 14.055v2.013q0 .495-.002.932M3 6c0-.838.385-1.603 1-2" />
                                    <path
                                        d="M17.626 8c.377-1.423.719-4.012-.298-5.297c-.643-.813-1.6-.737-2.54-.654c-3.222.284-5.826.759-7.788 1.221M2 2l20 20" />
                                </g>
                            </svg>
                            <p class="text-muted mb-0 text-lg font-semibold">{{'no_expenses_added' | translate | async
                                }}</p>
                            <p class="text-muted-color text-sm mb-1">{{'no_expenses_added_description' | translate |
                                async }}</p>
                            <button routerLink="/expenses"
                                class=" text-primary flex p-0 justify-center items-center  text-center text-sm transition-all border-b border-transparent hover:border-b-current cursor-pointer ">
                                <span class="text-sm">{{'add_expense' | translate | async }}</span>

                            </button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>